In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('Sales Transaction v.4a.csv')
df.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [3]:
df.shape

(536350, 8)

In [4]:
df.columns

Index(['TransactionNo', 'Date', 'ProductNo', 'ProductName', 'Price',
       'Quantity', 'CustomerNo', 'Country'],
      dtype='object')

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  datetime64[ns]
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.7+ MB

In [7]:
df.dropna(inplace=True)
df.isnull().sum()

TransactionNo    0
Date             0
ProductNo        0
ProductName      0
Price            0
Quantity         0
CustomerNo       0
Country          0
dtype: int64

In [8]:
df.duplicated().sum()

5200

In [9]:
df.drop_duplicates(inplace = True)

In [ ]:
df['Total'] = df['Quantity']*df['Price']
df

### Permasalahan

1. bagaimana tren penjualan setiap bulan?
2. apa produk yang menghsilkan banyak keuntungan?
3. produk apa yang paling populer?
4. kebanyakan customer dari negara mana?

# 1. tren penjualan setiap bulan

In [ ]:
df['Month'] = df['Date'].dt.to_period('M')
df.head()

In [ ]:
monthly_trend = df.groupby(by = 'Month', as_index = False)['Total'].sum()
monthly_trend

In [ ]:
# Mengonversi kolom 'Month' ke string
monthly_trend['Month'] = monthly_trend['Month'].astype(str)
    
# Tentukan gaya dan warna plot
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.lineplot(x='Month', y='Total', data=monthly_trend, marker='o')

# Atur label dan judul
plt.xlabel('Bulan')
plt.ylabel('Total Penjualan')
plt.title('Trend Bulanan Penjualan')

# Format tanggal di sumbu x (opsional)
plt.xticks(rotation=45)

# Tampilkan plot
plt.tight_layout()
plt.show()

kita cari tahu mengapa pada bulan 12 tahun 2019 mengalami penurunan yang sangat besar

In [ ]:
date = df[df['Date'] >= '2019-12-01']

In [ ]:
print(date['Date'].min())
print(date['Date'].max())

ternyata untuk bulan 12 data yang diperoleh hanya dari tanggal 1 sampai tanggal 9, maka coba kita hanya akan pilih data sebelum bulan 12 tahun 2019

In [ ]:
df2 = df[df['Date'] < '2019-12-01']

In [ ]:
df2_monthly = df2.groupby(by= 'Month', as_index = False)['Total'].sum()
df2_monthly

In [ ]:
# Mengonversi kolom 'Month' ke string
df2_monthly['Month'] = df2_monthly['Month'].astype(str)
    
# Tentukan gaya dan warna plot
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.lineplot(x='Month', y='Total', data=df2_monthly, marker='o')

# Atur label dan judul
plt.xlabel('Bulan')
plt.ylabel('Total Penjualan')
plt.title('Trend Bulanan Penjualan')

# Format tanggal di sumbu x (opsional)
plt.xticks(rotation=45)

# Tampilkan plot
plt.tight_layout()
plt.show()

jadi, dimulai dari bulan 8 penjualan naik signifikan sampai pada bulan 11

# 2. produk yang menghasilkan banyak keuntungan

In [ ]:
qtytotal = df.groupby(by= 'ProductName', as_index= False)['Total'].sum().sort_values('Total', ascending = False).head(10)
qtytotal

In [ ]:
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x='Total', y='ProductName', data=qtytotal)

# Atur label dan judul
plt.xlabel('Total')
plt.ylabel('Product')
plt.title('Produk Menguntungkan')

# Tampilkan plot
plt.tight_layout()
plt.show()

# 3. Produk yang paling populer

In [ ]:
popular = df.groupby(by = 'ProductName', as_index = False)['Quantity'].sum().sort_values('Quantity', ascending = False).head(10)
popular

In [ ]:
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x='Quantity', y='ProductName', data=popular)

# Atur label dan judul
plt.xlabel('Quantity')
plt.ylabel('Product')
plt.title('Produk Populer')

# Tampilkan plot
plt.tight_layout()
plt.show()

# 4. Negara paling menguntungkan

In [ ]:
country = df.groupby(by = 'Country', as_index = False)['Total'].sum().sort_values('Total', ascending = False).head(10)
country

In [ ]:
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x='Total', y='Country', data=country)

# Atur label dan judul
plt.xlabel('Total')
plt.ylabel('Country')
plt.title('Negara Paling Menguntungkan')

# Tampilkan plot
plt.tight_layout()
plt.show()

# 5. Produk yang Paling banyak di Retur

In [ ]:
retur = df[df['Quantity'] < 0]

In [ ]:
prodretur = retur.groupby(by = 'ProductName', as_index = False)['Quantity'].sum().sort_values('Quantity').head(10)
prodretur

In [ ]:
sns.set(style="whitegrid")
sns.set_palette("pastel")

# Buat grafik garis menggunakan Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x='Quantity', y='ProductName', data=prodretur)

# Atur label dan judul
plt.xlabel('Total')
plt.ylabel('Produk')
plt.title('Produk Paling Banyak Diretur')

# Tampilkan plot
plt.tight_layout()
plt.show()

In [ ]:
df_rfm = df2[df2['Quantity'] > 0]

In [ ]:
df_rfm.head(10)

In [ ]:
import datetime as dt
NOW = dt.datetime(2019,12,1)

In [ ]:
rfmTable = df_rfm.groupby('CustomerNo', as_index = False).agg({'Date': lambda x: (NOW - x.max()).days, 'TransactionNo': lambda x: len(x),'Total': lambda x: x.sum()})
rfmTable['Date'] = rfmTable['Date'].astype(int)
rfmTable.rename(columns={'Date': 'recency', 
                         'TransactionNo': 'frequency',
                       'Total': 'monetary_value'}, inplace=True)

In [ ]:
rfmTable

In [ ]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1
    
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)

#higher value of frequency and monetary lead to a good consumer. here higher value = 1 in reverse way.

def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4

In [ ]:
quantile = rfmTable.quantile(q=[0.25,0.5,0.75])
quantile

In [ ]:
rfmTable['mscore'] = rfmTable['monetary_value'].apply(FMScore, args = ('monetary_value', quantile))
rfmTable['fscore'] = rfmTable['frequency'].apply(FMScore, args = ('frequency', quantile))
rfmTable['rscore'] = rfmTable['recency'].apply(RScore, args = ('recency', quantile))

In [ ]:
rfmTable

In [ ]:
rfmTable['RFMScore'] = rfmTable['rscore'].map(str) + rfmTable['fscore'].map(str) + rfmTable['mscore'].map(str)

In [ ]:
rfmTable.head()

In [ ]:
def segmentation(rscore, fscore, mscore):
    if rscore == 4 and fscore == 4 and mscore == 4:
        return 'Champions'
    elif rscore >= 3 and fscore >= 3 and mscore >= 3:
        return 'Loyal Customers'
    elif rscore >= 3 and fscore >= 2 and mscore >= 2:
        return 'Potential Loyalists'
    elif rscore <= 2 and fscore <= 2 and mscore <= 2:
        return 'Need Attention'
    elif rscore <= 1 and fscore <= 1 and mscore <= 1:
        return 'Lost'
    else:
        return 'At Risk'

In [ ]:
rfmTable['Segment'] = rfmTable.apply(lambda x: segmentation(x['rscore'], x['fscore'], x['mscore']), axis=1)

In [ ]:
rfmTable.head()

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(x='Segment', data=rfmTable)

# Atur label dan judul
plt.xlabel('Segmentasi')
plt.ylabel('Total')
plt.title('Segmentasi Customer')

# Tampilkan plot
plt.tight_layout()

In [ ]:
segment_summary = rfmTable.groupby('Segment').describe()

In [ ]:
segment_summary

In [ ]:
rfmTable['Segment'].value_counts()

In [ ]:
rfmcountry

In [ ]:
rfmcountry.to_csv('rfmcountry.csv', index = False)

In [ ]:
count = rfmcountry.groupby(['Country','Segment'], as_index = False).size()

In [ ]:
count.head(100)